*,html {
    padding: 0;
    margin: 0;
}

.header {
    height: 12vh;
    width: 100%;
    background-color: rgb(88, 33, 33);
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(206, 158, 26);
}

input {
    text-align: center;
    background-color: rgb(208, 209, 157);
    height: 1.2rem;
}

button {
    height: 1.2rem;
    margin-left: 0.5rem;
    background-color: rgb(208, 209, 157);
}